<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SGT market</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a766c546f2.js"
      crossorigin="anonymous"
    ></script>
    <%-include("../link.ejs")%>
    <link rel="stylesheet" href="/static/css/product/product.css" />
  </head>

  <body>
    <%-include("../main/navbar.ejs")%>
    <div class="product-wrapper">
      <div class="product-wrapper2">
        <div class="product-photo">
          <div class="post-slider">
            <div class="post-wrapper">
              <% for( let i = 0; i < data.img.length; i++ ) { %>
              <div class="post">
                <img src="<%=data.img[i]%>" />
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <button
        id="heart-1"
        class="heart-1 d-none"
        type="button"
        onclick="heart()"
      >
        <i class="heart-i fa-solid fa-heart"></i
        ><span style="color: black; margin-left: 5px">찜하기</span>
      </button>
      <br />
      <div class="product-wrapper3">
        <div class="profile-photo">
          <img src="<%=data.user.image%>" alt="" />
        </div>
        <div class="user-nick-add">
          <div class="user-nick"><%=data.user.id%></div>
          <div class="user-address"><%=data.position%></div>
        </div>
      </div>
      <hr class="hr-2" />
      <div class="product-wrapper4">
        <div class="product-name"><%=data.title%></div>
        <div class="product-wrapper4-2">
          <div class="product-category"><%=data.category_id%></div>
          <span> • </span>
          <div class="product-upload-time">12시간 전</div>
        </div>
        <br />
        <div class="product-explanation"><%=data.content%></div>
        <br />
        <div class="heart-num">
          <i class="fa-solid fa-heart fa-sm" style="color: #747474"></i>
          <span style="color: #747474; font-size: 14px">관심</span>
        </div>
      </div>
      <hr class="hr-2" />
      <div class="product-wrapper5">
        <div class="price">가격</div>
        <div class="product-price">
          <span class="money"
            ><%=data.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g,
            ",");%></span
          ><span>원</span>
        </div>
      </div>
      <hr class="hr-2" />
  <div style="width: 100%"
    <div class="category-another"><span>이 카테고리의 다른 상품</span></div>
      <div class="product-wrapper6 container">
        <div class="category-another-first row"></div>
      </div>
    </div>
  </div>
    <br />
    <br />
    <br />
    <br />
    <div>
      <button
        id="chat-1"
        class="chat-1"
        type="button"
        onclick="chattingRoom('<%=data.title%>','<%=data.user.id%>','<%=data.img%>',)"
      >
        채팅하기
      </button>
    </div>
    <%-include("../main/footer.ejs")%>
    <script>
      const category_id = "<%=data.category_id%>";
      const product_id = "<%=data.id%>";
      axios({
        url: "/api/product/categories",
        method: "post",
        data: {
          user_id: sessionStorage.getItem("id"),
          category_id: category_id,
          product_id: product_id,
        },
      }).then((result) => {
        var another = result.data;
        for (var i = 0; i < 2; i++) {
          var imglist = another[i].img.split("..");
          var money = another[i].price
            .toString()
            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          $(".category-another-first")
            .append(`<div class="another-product col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="another-photo1"><img class="another-photo1" src="${imglist[0]}"></div>
            <div class="another-product1">${another[i].title}</div>
            <div class="another-price1">${money}<span>원</span></div>
          </div>`);
        }
      });

      if (sessionStorage.getItem("id")) {
        axios({
          url: "/api/product/like",
          method: "post",
          data: {
            user_id: sessionStorage.getItem("id"),
            product_id: product_id,
          },
        }).then((result) => {
          var myheart = $(".heart-1").children("i");
          console.log(result.data);
          if (result.data)
            $(myheart).removeClass("heart-i").addClass("heart-click");
        });
      }
    </script>
    <script src="/static/js/product/product.js"></script>
  </body>
</html>
