<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SGT market</title>
    <script
      src="https://kit.fontawesome.com/a766c546f2.js"
      crossorigin="anonymous"
    ></script>
    <%-include("../link.ejs")%>
    <link rel="stylesheet" href="/static/css/product/product.css" />
  </head>

  <body>
    <%-include("../main/navbar.ejs")%>
    <div class="product-wrapper">
      <div class="product-wrapper2">
        <div class="left-arrow">
          <i
            class="fa-solid fa-angle-left fa-2xl"
            style="margin-right: 20px"
          ></i>
        </div>
        <div class="product-photo">
          <img
            src="<%=data.img%>"
            style="max-width: 666px; height: 417px; margin: auto"
          />
        </div>
        <div class="right-arrow">
          <i
            class="fa-solid fa-angle-right fa-2xl"
            style="margin-left: 20px"
          ></i>
        </div>
      </div>
      <button id="heart-1" class="heart-1" type="button" onclick="heart()">
        <i class="heart-i fa-solid fa-heart"></i
        ><span style="color: black; margin-left: 5px">찜하기</span>
      </button>
      <br />
      <div class="product-wrapper3">
        <div class="profile-photo"></div>
        <div class="user-nick-add">
          <div class="user-nick"><%=data.user.id%></div>
          <div class="user-address"><%=data.position%></div>
        </div>
      </div>
      <hr class="hr-2" />
      <div class="product-wrapper4">
        <div class="product-name"><%=data.title%></div>
        <div class="product-wrapper4-2">
          <div class="product-category"><%=data.category_id%></div>
          <span> • </span>
          <div class="product-upload-time">12시간 전</div>
        </div>
        <br />
        <div class="product-explanation"><%=data.content%></div>
      </div>
      <hr class="hr-2" />
      <div class="product-wrapper5">
        <div class="price">가격</div>
        <div class="product-price">
          <span><%=data.price%></span><span>원</span>
        </div>
      </div>
      <hr class="hr-2" />
      <div class="category-another">이 카테고리의 다른 상품</div>
      <div class="product-wrapper6">
        <div class="category-another-first">
          <div class="another-photo1"></div>
          <div class="another-product1">갤럭시 워치 5</div>
          <div class="another-price1">7,000원</div>
        </div>
        <div class="category-another-second">
          <div class="another-photo2"></div>
          <div class="another-product2">에어팟 프로 2세대</div>
          <div class="another-price2">17,000원</div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div>
      <button
        id="chat-1"
        class="chat-1"
        type="button"
        onclick="chattingRoom('<%=data.title%>','<%=data.user.id%>')"
      >
        채팅하기
      </button>
    </div>
    <script src="/static/js/product/product.js"></script>
    <%-include("../main/footer.ejs")%>
    <script src="/static/js/product/product.js"></script>
  </body>
</html>
